page-details-game {
 img {
   width: 100%;
   height: 200px;
   object-fit: cover;
 }
  .summary{
    padding: 20px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 20px;
    margin: 20px;
    border-width: 1px;
  }
}
